* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 13, 49);
}

.container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.title {
  align-self: center;
  margin-bottom: 50px;
  color: white;
}

.charts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.chart {
  width: 49%;
  padding: 20px;
  background-color: rgba(60, 11, 51, 0.517);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart p {
  color: white;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-row {
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.row {
  flex: 1;
  width: 100%;
  background-color: rgba(60, 11, 51, 0.517);
  padding: 20px;
  margin: 20px 0;
  text-align: center;
  color: white;
  border-radius: 20px;
}