* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(20, 13, 49);
}

.container {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
}

.title {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 50px;
  color: white;
}

.charts {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  gap: 10px;
}

.chart {
  width: 100%;
  padding: 20px;
  background-color: rgba(60, 11, 51, 0.517);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px
}

.pie-chart {
  width: 50%;
  padding: 20px;
  background-color: rgba(60, 11, 51, 0.517);
  backdrop-filter: blur(10px);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pie-chart p {
  color: white
}

.chart p {
  color: white;
}

.col {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.main-row {
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.row {
  flex: 1;
  width: 100%;
  height: 100px;
  background-color: rgba(60, 11, 51, 0.517);
  padding: 15px;
  margin: 20px 0;
  text-align: center;
  color: white;
  border-radius: 20px;
}

.chart h2 {
  color: white;
  font-weight: lighter;
}

.chart-time {
  padding: 40px;
}